<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Binary Toys</title>
        <link rel="stylesheet" href="/static/semantic.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <style type="text/css" media="screen">
        body {background:#FFFAF0;}
        #display {padding-top:1em;}
        .direction {opacity:0.7;}
        </style>
    </head>
    <body >
        <div class="ui attached stackable menu">
            <div class="ui container">
              <div class="header item">Binary Toys</div>
              <div class="ui dropdown item" tabindex="0">
                  Catagories
                <i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                  <div class="item">Squishable</div>
                </div>
              </div>
             <div class="right menu">
                <div class="item">
                  <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <div class="ui stackable four column grid container" id="display">

        <!-- cards -->
            {{ range . }}
            <div class="column">
            <div class="ui card ">
              <div class="ui shape square">
                  <div class="sides">
                    {{ range $index, $url := .Images }}
                    <img src="{{$url}}" class="side {{ if eq $index 0}}active{{end}}" >
                    {{ end }} 
                  </div>
                  <div class="ui bottom left attached label direction " data-animation="flip" data-direction="left" title="Flip Left">
                      <i class="left long arrow icon"></i>
                  </div>
                  <div class="ui bottom right attached direction label " data-animation="flip" data-direction="right" title="Flip Right">
                      <i class="right long arrow icon"></i>
                  </div>
              </div>
              <div class="content">
                  <a class="header">{{ .Title }} </a>
                  <span class="meta">${{.Price }}</span>
                <div class="description">
                    {{ .Description}}
                </div>
              </div>
             <div class="extra content">
              <div class="ui two buttons">
                  <a href="{{ .Link }}" class="ui icon orange vertical animated button">
                      <div class="visible content">
                        <i class="shipping icon"></i>
                      </div>
                    <div class="hidden content">
                        ${{.Price}} /each
                    </div>
                </a>
                <div class="ui icon button details" data-content="{{ .ExtraInfo}}">
                        <i class="info circle icon"></i>
                </div>
              </div>
            </div>
            </div>  
            </div>  
            {{ end }}
        <!-- cards -->
        </div>
    <script src="/static/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/semantic.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $('.ui.dropdown').dropdown();
        $('.details').popup();
        $('.shape').shape();
        $(".direction").click(function(e){
            $(this).parent(".shape").shape("flip "+$(this).data("direction"));
        });
        $.fn.api.settings.api = {
            "get products":"/product"
        }
    </script>
    </body>
</html>
