<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Series Output</title>
        <style type="text/css" media="print,screen">
            body {font-family:BITSTREAM VERA SANS MONO, monospace;font-size:8pt;padding:0;margin:0;}
            p {color:#21697B;margin:0px;padding:2pt 5pt;}
            ul li {list-style:none;}
            a,a:visited {color:#21697B;text-decoration:none;padding-left:5pt;}
            hr {border:2px solid #21697B}
            span {color:#21697B;opacity:0.6;font-size:3pt;padding:2pt 5pt;}
            tr {border:1pt dashed #000;}
            td {width:9cm;height:5.4cm;padding:0.2cm;}
            ul {padding-left:5pt;}
            li {margin:1pt 0;color:#21697B;}
            table{vertical-align: top;border-collapse: collapse;}
        </style>
    </head>
    <body>
        <p>ajsdkfjaskldjfklsjdf</p>
        <p>ajsdkfjaskldjfklsjdf</p>
        <table border="0" cellspacing="5" cellpadding="5">
            <tr>
                <td>
                    <hr/>
                    <p><strong>Squishable Gopher</strong></p> 
                    <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a> 
            </td>

                <td>
                    <hr/>
            <p><strong>Squishable Gopher</strong></p> 
            <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a>
            </td>
            </tr>
            <tr>
                <td>
                    <hr/>
                    <p><strong>Squishable Gopher</strong></p> 
                    <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a> 
            </td>

                <td>
                    <hr/>
            <p><strong>Squishable Gopher</strong></p> 
            <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a>
            </td>
            </tr>
            <tr>
                <td>
                    <hr/>
                    <p><strong>Squishable Gopher</strong></p> 
                    <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a> 
            </td>

                <td>
                    <hr/>
            <p><strong>Squishable Gopher</strong></p> 
            <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a>
            </td>
            </tr>
            <tr>
                <td>
                    <hr/>
                    <p><strong>Squishable Gopher</strong></p> 
                    <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a> 
            </td>

                <td>
                    <hr/>
            <p><strong>Squishable Gopher</strong></p> 
            <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a>
            </td>
            </tr>
            <tr>
                <td>
                    <hr/>
                    <p><strong>Squishable Gopher</strong></p> 
                    <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a> 
            </td>

                <td>
                    <hr/>
            <p><strong>Squishable Gopher</strong></p> 
            <span>ver 1.0 </span>
            <ul>
                <li>ID: x0-XpPAgh</li>    
                <li>Version: 1.0</li>
                <li>Design by: Renne French</li>    
                <li>License: CC Attributions 3.0</li>    
            </ul>
            <a href="" >http://binary.toys/v/x0-XpPAgh</a>
            </td>
            </tr>
        </table>
    </body>
</html>
